@import "tailwindcss";

@keyframes vibrate {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-3px, 1px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(3px, -1px); }
  100% { transform: translate(0, 0); }
}

.animate-vibrate {
  animation: vibrate 0.12s linear infinite;
}
